node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session

# editor files
.vscode

# OS files
.DS_Store